.menu {
  grid-area: menu;
  display: flex;
  flex-direction: column;
  width: 300px;
}

.menu-button {
  margin-top: 20px;
  padding: 10px;
  margin-left: 2em;
  font-size: 1em;
  border-radius: 0 20px 20px 0;
  background-color: white;
  color: #2F403E;
  border: none;
  display: flex;
  align-items: center;
}

.menu-button:hover {
  background-color: gray;
  color: white;
  font-weight: bold;
}

.clicked-button {
  background-color: #EC5449;
  color: white;
  font-weight: bold;
  transform: scale(1.2);
}

.icon {
  width: 25px;
  margin-right: 10px;
}
