.menu {
  background-color: #333332;
  display: flex;
  flex-direction: column;
  grid-area: menu;
  height: 100%;
  margin-top: 5em;
  position: fixed;
  width: 18.75em;
}

.menu-button {
  align-items: center;
  background-color: white;
  border: none;
  border-radius: 0 20px 20px 0;
  color: #2F403E;
  display: flex;
  font-size: 1em;
  margin-top: 20px;
  padding: 10px;
  padding-left: 30px;
}

.menu-button:hover {
  background-color: gray;
  color: white;
  font-weight: bold;
}

.clicked-button {
  background-color: #EC5449;
  color: white;
  font-weight: bold;
  transform: scale(1.2);
}

.icon {
  margin-right: 10px;
  width: 25px;
}

@media only screen and (max-width: 740px) {
  .menu {
    height: 100px;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
  }

  .button-label {
    display: none;
  }

  .menu-button {
    border-radius: 0 0 20px 20px;
    height: 70%;
    width: 18%;
    padding: 0;
    justify-content: center;
    align-items: center;
  }

  .icon {
    margin: 0;
  }

  .clicked-button,
  .menu-button:hover {
    transform: scale(1);
  }
}
