* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.app {
  display: grid;
  grid-template-areas:
    'searchBar searchBar'
    'menu news';
  background: #141527;
  text-align: center;
  width: 100%;
  color: white;
}
