* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

.app {
  display: grid;
  grid-template-areas:
    'searchBar searchBar'
    'menu news'
    'footer footer';
  background: #333332;
  text-align: center;
  width: 100%;
  color: white;
}

button:hover {
  cursor: pointer;
  transform: scale(1.2);
}
