header {
  align-items: center;
  background-color: #333332;
  box-shadow: 0 0 15px 0 #F1F1F1;
  display: flex;
  grid-area: searchBar;
  height: 5em;
  justify-content: space-between;
  padding: 2em;
  position: fixed;
  width: 100%;
  z-index: 100;
}

h1 {
  font-family: 'Abril Fatface', cursive;
  font-size: 2.5em;
}

span {
  color: #EC5449;
  font-family: 'Abril Fatface', cursive;
}

.search-section {
  width: 40%;
}

input {
  font-size: 1em;
  padding: .7em;
  padding-left: 6px;
  width: 65%;
  border: none;
}

.search-button {
  background-color: #EC5449;
  border: none;
  color: white;
  font-size: 1em;
  font-weight: bold;
  margin-left: 1%;
  padding: .7em;
  width: 34%;
}

@media only screen and (max-width: 900px) {
  h1 {
    font-size: 1.5em;
  }

  .search-section {
    width: 55%;
  }
  input,
  .search-button {
    font-size: .8em;
  }

}

@media only screen and (max-width: 745px) {
  header {
    flex-direction: column;
    height: 7em;
    padding: 1em;
  }
  .search-section {
    width: 80%;
  }
}
