.newsArticle {
  background-color: white;
  border-radius: 25px;
  break-inside: avoid;
  color: black;
  margin-bottom: 2em;
  page-break-inside: avoid;
  -webkit-column-break-inside: avoid;
}

.newsImage {
  height: 15em;
  object-fit: cover;
  width: 100%;
}

.article-description {
  margin-top: 1em;
}

.newsInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1em;
}

.link-box {
  align-items: center;
  background-color: #EC5449;
  display: flex;
  justify-content: center;
  padding: 10px;
}

a {
  color: white;
  font-weight: bold;
  text-decoration: none;
}

a:hover,
a:focus {
  font-weight: bold;
  transform: scale(1.2);
}
